@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');
:root {
  --bg: white;
  --font: rgb(27, 27, 27);
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}

body {
  height: 100vh;
  background: var(--bg);
  color: var(--font);
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer p {
  background: crimson;
  color: white;
  font-weight: bold;
  padding: .1rem 1rem;
}

footer a {
  margin-left: 1rem;
  color: white;
  font-weight: 400;
  background-color: royalblue;
  text-decoration: none;
  padding: .1rem 1rem;
  margin-right: auto;
}

.footer-emoji{
  margin: 0 1em;
}
