.Slider-wrapper {
  display: flex;
  align-items: center;
}

.Slider {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 2rem;
  width: 15rem;
  height: 10px;
  background: rgb(184, 184, 184);
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.Slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: red;
  cursor: pointer;
}

.Slider-wrapper > p {
  font-weight: 900;
}

.Slider-wrapper .Slider-value {
  margin: 0 0.5rem;
  font-weight: 500;
}

@media (max-width: 720px) {
  .Slider {
    width: 8rem;
  }
}

@media (max-width: 500px) {
  .Slider {
    width: 5rem;
    height: 0.3rem;
  }
  .Slider::-webkit-slider-thumb {
    width: 0.8rem;
    height: 0.8rem;
  }
  .Slider-wrapper > p,
  .Slider-wrapper .Slider-value {
    font-size: 0.9rem;
  }
}
